<?php
// HTTP
define('HTTP_SERVER', 'http://shop.harrywragg.dev:8888/');
define('HTTP_IMAGE', 'http://shop.harrywragg.dev:8888/image/');
define('HTTP_ADMIN', 'http://shop.harrywragg.dev:8888/admin/');

// HTTPS
define('HTTPS_SERVER', 'http://shop.harrywragg.dev:8888/');
define('HTTPS_IMAGE', 'http://shop.harrywragg.dev:8888/image/');

// DIR
define('DIR_APPLICATION', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/catalog/');
define('DIR_SYSTEM', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/system/');
define('DIR_DATABASE', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/system/database/');
define('DIR_LANGUAGE', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/catalog/language/');
define('DIR_TEMPLATE', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/catalog/view/theme/');
define('DIR_CONFIG', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/system/config/');
define('DIR_IMAGE', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/image/');
define('DIR_CACHE', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/system/cache/');
define('DIR_DOWNLOAD', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/download/');
define('DIR_LOGS', '/Volumes/Data/Adam/Documents/projects/shop.harrywragg.dev/system/logs/');

// DB
define('DB_DRIVER', 'mysql');
define('DB_HOSTNAME', 'localhost');
#define('DB_USERNAME', '');
#define('DB_PASSWORD', '');
define('DB_DATABASE', 'shop.harrywragg.dev');
define('DB_PREFIX', '');
?>
